<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Node File System</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 p-5">
      <h1 class="text-5xl text-white font-bold text-center">Create Task</h1>
      <div class="form p-10 text-white">
        <form action="/create" method="POST">
          <input
            class="block px-5 py-2 bg-zinc-800 w-full rounded-lg outline-none"
            type="text"
            name="title"
            placeholder="Enter Task"
          />
          <textarea
            class="block px-5 py-2 bg-zinc-800 w-full rounded-lg outline-none resize-none mt-3"
            name="description"
            placeholder="Enter Task Description"
          ></textarea>
          <input
            class="mt-3 bg-blue-600 px-5 py-2 rounded-lg hover:bg-blue-700 cursor-pointer"
            type="submit"
            value="Create Task"
          />
        </form>
      </div>
      <h1 class="text-5xl text-white font-bold text-center">All Tasks</h1>
      <div class="tasks p-10 text-white flex flex-wrap gap-5 justify-between">
        <% if (tasks.length > 0) { %> <% tasks.forEach((task) => { %>
        <div
          class="task bg-zinc-800 w-60 rounded-md p-3 flex flex-col justify-between"
        >
          <h1 class="text-2xl font-bold text-center tracking-tight mb-2">
            <%= task %>
          </h1>
          <div class="flex justify-between items-center mt-3">
            <a
              class="text-blue-400 hover:text-blue-500"
              href="/tasks/<%= task %>"
              >Read More</a
            >
            <a
              class="text-gray-300 hover:text-gray-400"
              href="/edit/<%= task %>"
              >Edit</a
            >
          </div>
        </div>
        <% }) %> <% } else{ %>
        <h3 class="text-zinc-400">No tasks yet...</h3>
        <% } %>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
